/* Base Colours */
:root {
	--accent: #fcba03;
	--primary: #515151;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--primary);
}

.accent {
	background-color: var(--accent);
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* Default formatting for the card component (used as the background for all forms) */
.card {
	padding: 2rem 3rem;
	box-shadow: 7.5px 5px 10px rgba(0, 0, 0, 0.2);
}
